name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate GitHub profile metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: SaadK123
          config_timezone: Canada/Montreal

          template: classic
          base: header, activity, community

          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes

          filename: metrics.svg
          output_action: commit
          committer_message: "chore: update metrics"
